<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Results Chart</title>

  <script >
      // this is to plot the graph

      window.onload = function () {  // can be window.onload but graph refreshes only after you refresh the entire window again

            fetch('/chart_data')
            .then((res) =>res.json())
            .then((data)=>
            { 
              console.log(data);

              var dataPoints1=[];// this s for people in
              var dataPoints2=[];// this is for people out
              var dataPoints3=[];//
              var chart=new CanvasJS.Chart("total_votes",{
                backgroundColor: "#FFFFFF",

                title:{
                  text:"Elections 2019"
                },
                axisX:{
                  title:"Party",
                  fontSize: 18,
                },
                axisY:{
                  title:"Votes",
                  fontSize: 18,
                },
                legend: {
                  cursor:"pointer",
                  verticalAlign: "top",
                  fontSize: 22,
                  fontColor: "dimGrey",
                  itemclick : toggleDataSeries
                },
                data:[{   // since all of them are of the same data types , we have an array of objects
                  type:"column",
                  name:"PBJ",
                  xValueType:"dateTime",
                  xValueFormatString: "hh:mm:ss TT",//keeping a track on an hourly basis
                  dataPoints:dataPoints1,
                  showInLegend: true,
                  // borderColor:'red',
                  // backgroundColor:'orange',
                  // hoverBackgroundColor:'rgb(240, 110, 59)',

                },
                {
                  type:"column",
                  name:"GNOC",
                  xValueType:"dateTime",
                  xValueFormatString: "hh:mm:ss TT",//keeping a track on an hourly basis
                  dataPoints:dataPoints2,
                  showInLegend: true
                },
                {
                  type:"column",
                  name:"PAA",
                  xValueType:"dateTime",
                  xValueFormatString: "hh:mm:ss TT",//keeping a track on an hourly basis
                  dataPoints:dataPoints3,
                  showInLegend: true
                }]
              });
              function toggleDataSeries(e) {
                if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                  e.dataSeries.visible = false;
                }
                else {
                  e.dataSeries.visible = true;
                }
                chart.render();
              }

              var updateInterval = 1000;

              var yValue1 = 0;//initial y values for both people in and people out
              var yValue2 = 0;

              var time = new Date;// this returns the current date


              var time_hour= time.getHours();// this returns the current hours which has to be queried
              console.log(time_hour);

              function updateChart()
              {
                dataPoints1.push({
                x: time.getTime(),
                y: data.pbj_count
                });

                dataPoints2.push({
                x: time.getTime(),
                y: data.gnoc_count
                });

                dataPoints3.push({
                x: time.getTime(),
                y: data.paa_count
                });
                chart.options.data[0].legendText = " PBJ :" + data.pbj_count;
                chart.options.data[1].legendText = " GNOC :" + data.gnoc_count;
                chart.options.data[2].legendText = " PAA :" + data.paa_count;

              chart.render();

              }
              updateChart();

              setInterval(function(){updateChart},updateInterval);
            })
          }

  </script>



</head>
<body style="background-color: rgb(255, 255, 255) height:300%">
  <div class="container">
    <div id="total_votes" style="height: 300%; width: 100%; justify-content: center;">
    </div>

  </div>
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js">
  </script>

</body>
</html>
