<!DOCTYPE html>
<html lang="en">
<title>Home </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-blue w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-grey" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <!-- <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a> -->
    <a href="voter_login" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Voter Login</a>
    <a href="candid_login" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Candidate Login</a>
    <a href="voter_reg" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Voter Registration</a>
    <a href="candid_reg" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Candidate Registration</a>
    <a href="result" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Election Result</a>
    <a href="chart" class="w3-bar-item w3-button w3-hide-small w3-hover-white w3-padding-large">Statistics</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="voter_login" class="w3-bar-item w3-button w3-padding-large">Voter Login</a>
    <a href="candid_login" class="w3-bar-item w3-button w3-padding-large">Candidate Login</a>
    <a href="voter_reg" class="w3-bar-item w3-button w3-padding-large">Voter Registration</a>
    <a href="candid_reg" class="w3-bar-item w3-button w3-padding-large">Candidate Registration</a>
    <a href="result" class="w3-bar-item w3-button w3-padding-large">Election Result</a>
    <a href="chart" class="w3-bar-item w3-button w3-padding-large">Statistics</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-blue w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">e-Voting System</h1>
  <!-- <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Get Started</button> -->
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Abstract</h1>
      <h5 class="w3-padding-32">
        <ul>
          <li>The rapid advancement in information and communications technologies
              has given rise to new applications that were impossible just few years ago.</li>
          <li>One of these applications is e-voting. The term “e-voting” is defined as any voting method where the
               voter’s intention is expressed or collected by electronic means</li>
          <li> This report details the
              design and implementation of a generic and secure electronic voting system where voters
               can cast their votes anytime, anywhere and using a number of electronic devices
           including private computer networks, web and mobile phones.</li>
        </ul>

    </div>

    <div class="w3-third w3-center">
      <!-- <i class="fa fa-anchor w3-padding-64 w3-text-blue"></i> -->
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <!-- <i class="fa fa-coffee w3-padding-64 w3-text-blue w3-margin-right"></i> -->
    </div>

    <div class="w3-twothird">
      <h1>Advantages of e-voting system</h1>
      <h5 class="w3-padding-32">
        <ul>
          <li>Voters have the opportunity to vote quickly and conveniently.</li>
          <li>The system can be used independent of the platform and device, be it on a smartphone, tablet or computer.</li>
          <li>People with disabilities can vote or take part in elections online without the help of a third party.</li>
          <li>Problem of registered users not included in the voters list is avoided.</li>
          <li>Voters can receive confirmation that their vote has been correctly cast and saved in the database</li>
          <li>Votes can be counted quickly and precisely in real-time.</li>
          <li>E-voting is secure: votes are only transmitted and saved in encrypted and anonymized form.</li>
        </ul>
      </h5>

    </div>
  </div>
</div>



<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
